<div class="post-footer">
    <div class="h-line-primary"></div>
    <nav class="post-nav">
        <div class="prev-item">
           <%if (page.past) {%>
                <div class="icon arrow-left"></div>
                <div class="post-link">
                    <a href="/tl/<%- page.past %>">Prev</a>
                </div>
            <%}%>
        </div>
        <div class="next-item">
            <%if (page.future) {%>
                <div class="icon arrow-right"></div>
                <div class="post-link">
                  <a href="/tl/<%- page.future %>">Next</a>  
                </div>  
            <%}%>
        </div>
    </nav>
</div>
