<div class="profile">
    <div class="profile-image">
        <% if (theme.profile.image) {%>
            <img src="<%= url_for(theme.profile.image)%>" alt="featured_image">
        <% } %>  
    </div>
    <div class="post-content profile-content">
        <div class="profile-title">
            <%=theme.profile.title%>
        </div>
        <div class="profile-body">
            <%=theme.profile.body%>
        </div>
        <div class="profile-link">
            <i class="uil uil-twitter"></i> <a href="https://twitter.com/kisuchama">@kisuchama</a> 
        </div>
        <div class="profile-link">
            <i class="uil uil-discord"></i> @jin#8008 
        </div>                  
    </div>
    
</div>