<div class="post-content">
    <p><i class="uil uil-tag"></i> <a href="/tag">Posts by tag</a></p>
    <p><i class="uil uil-folder-open"></i> <a href="/categories">Posts by category</a></p>
</div>
<%- partial('partials/post_list') %>